[phases.setup]
apt = [
  "libpng-dev",
  "libjpeg-dev",
  "libfreetype6-dev",
  "libwebp-dev"
]

[build]
extensions = [
  "gd",
  "ctype",
  "curl",
  "dom",
  "fileinfo",
  "filter",
  "hash",
  "mbstring",
  "openssl",
  "pcre",
  "pdo",
  "session",
  "tokenizer",
  "xml"
]
